.container {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-size: 12px;
}
.content {
  display: flex;
  gap: 20px;
}
