* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "poppins", sans-serif;
}
.container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  font-size: 21px;
}
.content {
  display: flex;
  gap: 20px;
}
