.container {
  margin: 35px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #a68a64;
  border-radius: 10px;
  color: #ffff;
  border: 1px solid;
  padding-left: 10px;
  width: 50%;
  height: 40vh;
  display: flex;
  align-items: center;
  gap: 15px;
}
