* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter";
}

.bodyTop {
  height: 60vh;
  color: #ffff;
  background: 
    /* Gradiente preto transparente de cima para baixo */ linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* Sua imagem de fundo */
      url("https://upload.wikimedia.org/wikipedia/commons/0/09/Morro_da_Cruz%2C_Florian%C3%B3polis_-_SC%2C_Brazil_-_panoramio_%28cropped%29.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.bodyTop > p {
  width: 50vw;
  text-align: center;
}
.bodyMid{
  height: 40vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: 'montserrat';
}
.bodyMid > p{
  width: 90vw;
  font-size: 20px;
}
.bodyBot{
  padding: 45px;
  display: flex;
  gap: 170px;
}
.bodyBot > img{
width: 700px;

}
.bodyBotTx{
  font-size: 30px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  gap: 35px;
}

@media screen and (max-width: 768px) {

  .bodyBot{
    padding: 45px;
    gap: 170px;
  }
  .bodyBot > img{
    width: 200px;
    
    }
  .bodyBotTx{
    font-size: 30px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 35px;
  }
  

}